/* COMMON */
img {
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
body {
    font-family: Arial, sans-serif;
}
.btn-gray {
    background-color: #d9dadc;
    color: #0d6efd;
}
.menu-nav ul li .btn-grey {
    color: white;
    padding: 11px 16px;
    background-color: #363636;
    border-radius: 30px;
}
.btn {
    padding: 11px 16px;
    border-radius: 30px;
    font-weight: bold;
    display: inline-block;
}

.btn-orange {
    background-color: #cd3d0f;
    color: white;
}
.btn-blue {
    background-color: #2d64e6;
    color: white;
}



/* HEADER FIXED*/
header {
    font-family: Helvetica, arial, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
header ul li {
    display: inline-block;
}
/* Logo sony */
.logo-sony{
    height: 33px;
    line-height: 33px;
    background-color: black;
    text-align: right;
}
.logo-sony img {
    width: 100px;
    padding-right: 15px;
}

/* Nav */
.menu-nav {
    height: 60px;
    display: flex;
}
.menu-nav ul li a {
    color: black;
    font-weight:700;
    font-size: 18px;
}


/* Logo Play */
.logo-play img {
    width: 60px;
}


/* Lista Menu */
ul li .freccia-giu {
    margin-left: 3px;
    width: 10px;
}
.list-menu-sx {
    display: flex;
    flex-grow: 1;
}
.list-menu-dx .search {
    width: 25px;
}
nav ul li {
    padding: 10px;
}

/* Burger Menu */
.burger {
    font-size: 30px;
    display: flex;
}
.burger i {
    border: 1px solid lightgray;
    color: gray;
    padding: 10px 20px;
    border-radius: 5px;
}

/*MAIN*/
main {
    margin-top: 105px;
}

/* Jumbotron */
.jumbotron.jumbo-1 {
    background-image: url("../img/jumbo-bg.png");
    background-position-y: top;
}

.jumbotron {
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.jumbotron-text {
    padding-bottom: 50px;
    height: 500px;
    align-items: flex-end;
}

.jumbotron.jumbo-1 img {
    width: 270px;
}

.jumbotron-text h2 {
    padding: 30px 0;
    font-size: 35px;
}

.jumbotron-text p {
    font-size: 15px;
    font-weight:700;
    padding-bottom: 23px;
}


/* Cards link */
.card-link img {
    border-radius: 20px;
    margin-top: 30px;
}

.card-link img:hover {
    border: 2px solid lime;
    padding: 5px;
    opacity: 0.8;
    margin-top: 20px;
}



